body{
    font-family: Arial, Helvetica, sans-serif;   
    margin: 0;
    padding: 0;
    background-image: url(imagens/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.area{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.form{
    background-color: #ffffff80;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 0px #00000070;
}

input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid blueviolet;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.form-group{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-group input:focus{
    border-bottom: 2px solid rgb(145, 145, 233);
}

label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

label{
    font-size: 13px;
    margin-top: 0;
}

.area-btn{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.btn{
    border: none;
    color: #fff;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(145, 145, 233);
}


